@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300..700&family=Tienne:wght@400;700;900&display=swap');

:root{
    --color-claro: #eef2fb;
    --color-resalte: #A2BBF6;
    --color-medio: #5A86E9;
    --color-fuerte: #1E55D4;
    --color-oscuro: #0E3EAA;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--color-oscuro);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

html {
    font-family: "Spline Sans", Tahoma, sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: var(--color-claro);
    font-size: 14px;
}

main {
    margin: 20px;
}

h1, h3 {
    font-family: "Tienne", 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: normal;
    font-size: 2em;
    color: var(--color-oscuro);
}

option {
    color: var(--color-claro);
    background-color: var(--color-fuerte);
}

.main__h1 {
    font-size: 4em;
    font-weight: lighter;
    text-align: center;
    margin-top: 35px;
}

.main__h2 {
    font-size: 1.3em;
    font-weight: bolder;
    text-align: center;
    color: var(--color-oscuro);
    margin-top: 10px;
    margin-bottom: 30px;
}

.main__p {
    text-align: center;
    margin: 20px 45px 40px 45px;
    color: var(--color-oscuro);
}

.section {
    border: #1E55D4 3px solid;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    padding: 20px;
    margin: 10px;
    padding: 10px;
}

.section__div{
    padding: 10px 20px;
    margin: 10px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.section__div__h3 {
    font-size: 1.5em;
    text-align: center;
    margin: 30px 10px;
    text-decoration: underline;
    color: var(--color-oscuro);
}

.section__div__p {
    margin: 10px 10px;
    text-align: center;
}

.section__div__form {
    background-color: var(--color-fuerte);
    color: var(--color-claro);
    padding: 15px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    margin: 30px 10px;
}

.section__div__form  legend, span, label {
    color: var(--color-claro);
}

.section__div__form fieldset {
    border: none;
    background-color: var(--color-fuerte);
}

.section__div__form legend {
    font-family: "Tienne", serif;
    font-weight: bold;
    font-style: normal;
    line-height: 3;
    font-size: 1.3em;
}

.section__div__form label {
    line-height: 2;
    padding-left: 5px;
}

.section__div--res{
    display: none;
    background-color: var(--color-oscuro);
    color: var(--color-claro);
    padding: 20px;
    text-align: center;
    line-height: 2;
}

.section b {
    color: var(--color-claro);
}

.section__h2{
    font-size: 1.8em;
    font-family: "Tienne", serif;
    font-weight: bold;
    font-style: normal;
    font-size: 2em;
    color: var(--color-oscuro);
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
}

.section__p {
    text-align: center;
    color: var(--color-oscuro);
}

.section__div__button {
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    background-color: var(--color-fuerte);
    color: var(--color-claro);
    padding: 20px 40px;
    font-size: 1.6em;
    font-weight: bolder;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%); /* Ajusta para centrarlo realmente */
    border: none;
    margin-top: 30px;
}

.section__div__button:hover {
    padding: 22px 44px;
    font-size: 1.62em;
    background-color: var(--color-oscuro);
    color: var(--color-claro);
    box-shadow: 2px 2px 3px var(--color-medio);
}

.section__div__button:active {
    color: var(--color-fuerte);
    background-color: var(--color-fuerte);
}